.infowin {
  background-color: #a5215200;
  border-style: solid;
  border-width: thin;
  border-spacing: 10px;
}

.panel {
    background: rgba(0,0,0,0.8);
}
.panel-default{
  background: rgba(0,0,0,0.8);
  border-color: #000;
}
.panel-default>.panel-heading{
    background: rgba(0,0,0,0.8);
    border-color: #000;
}
.list-group-item{
  background: rgba(0,0,0,0.8);
}



.panel-title{
  color: white;
}
.label-filtros{
  color : white;
}
.body {
 background-image:url("../res/fondo2.png");
}
 /* CSS PARA LOS COMENTARIOS */

 .well{
   background-color: #374a33;
   border-radius: 15px;
 }
.logo{
  height: 80px;
  display: block;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
      background-color: #000;
      width: 100%;
}

 .media-heading{
   color: white;
 }
.p {
  color: white;
}
